DATABASE_URL='postgresql://neondb_owner:npg_pexbz1cZ9RXd@ep-soft-frog-a4igw623-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

JWT_SECRET=sOvaeev952uoy71OwXJVj5NnwQuO6R033xcgBOwqejA=
JWT_EXPIRATION=1d

PORT=4000
